body{
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: var(--card-color);
    width: 600px;
    border-radius: 1rem 1rem 10rem 1rem;
}
.container{
padding: 2rem;
display: flex;
flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
}
.form-container{
    display: flex;
    gap: 2rem;
}
.block{
    display: flex;
    flex-direction: column;
}
.block label{
    text-transform: uppercase;
    font-weight: 600;
}
input{
    width: 100px;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid var(--background-color);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
input::placeholder{
    font-size: 1.5rem;
    font-weight: 800;
}


.submit-block{
display: flex;
align-items: center;
}
.submit-block hr{
    width: 100%;
}
.submit-block #submit-btn{
    background-color: var(--text-color);
    border-radius: 50%;
    padding: 1rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.output h1{
font-size: 5rem;
font-weight: 800;
font-style: italic;
height: fit-content;
}
.output span{
    color: var(--text-color);
}

small{
    color: var(--light-red);
    font-size: .6rem;
    font-weight: bold;
    text-transform: capitalize;
}